<div class="container">
  <button class="btn btn-outline-secondary my-4" (click)="cargarImagenes()">
    Cargar nuevas fotos
  </button>
  <div
    class="contenedor-img"
    infiniteScroll
    [infiniteScrollDistance]="2"
    (scrolled)="onScroll()"
  >
    <div *ngFor="let imagen of resultados; let i = index" class="gallery">
      <div class="imageDiv">
        <img
          [src]="imagen.urls.small"
          class="animate__animated animate__fadeIn"
          (click)="openModal({ url: imagen.urls.regular })"
        />
        <div
          *ngIf="imagen.description || imagen.alt_description"
          class="description"
        >
          <h1 *ngIf="imagen.description">
            {{ imagen.description | uppercase | slice : 0 : 50 }}
            <span *ngIf="imagen.description.length > 50">...</span>
          </h1>
          <p *ngIf="imagen.alt_description">
            {{ imagen.alt_description | titlecase | slice : 0 : 140 }}
            <span *ngIf="imagen.alt_description.length > 140">...</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
